/* Introduzione creazione struttura body */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Montserrat:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
     background-color: #b3d9b0;
     min-height: 1500px;
     background-image: url(utilities/cheng-feng-psdV2Rl-GvU-unsplash.jpg);
} 




.titolo {
    color: #008000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    
}



.img-container{
    
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: 10px 10px 0 #a83e88;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px 25px 25px 25px;
    background-image: url(utilities/mizanur-rahman-Vc0SNaIc6Gc-unsplash.jpg);
    background-size: cover;
    background-position: center;
   
    

    
}
.container-foto{
    position: relative;
    margin-bottom: 270px;
    width: 140px;
    height: 140px;
    border-radius: 75px;
    
    
    
}
.chinese { /* importante! */
    color: gold;
    font-size: 70px;
    font-weight: bold;
    top: 31%;
    position: absolute;
    left: 56%;
    bottom: 55%;
    
   
    
    
    
    
    
    
    
    
    
    
}

.button1 {
    background-color: #dd68dd; 
    border: #7812a0 double 7px;  
    color: #191717;  
    padding: 5px 9px;  
    text-align: center;  
    text-decoration: none;  
    display: inline-block;  
    font-size: 15px;  
    margin: 5px 5px;  
    margin-bottom: 9px;
    cursor: pointer;
    border-radius: 10px;
}
  

  



/*-- MASTER UX/UI DESIGN--*/

.container-design{
     width: 1000px;
    height: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 12px 12px 0 #b36db7;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    background-image: url(utilities/DESIGN.jpg);
    background-size: cover;
    background-position: center;
}
   

    
#MasterUXUI {
    position: relative;
    left: 0;
    top:0;
    color: gold;
    background-color: orange;
    margin: 0 auto;
    border: 10px #b10e0e double;
    border-radius: 25px 25px 0px 0px;
    padding: 30px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}   



.container-design p {
    text-align: left;
    font-family: 'DotGothic16', sans-serif;
    font-size: 17px;
    font-weight: 800;
    text-wrap: wrap;
    position: relative;
    padding: 5px 25px;
    top: 40px;
    color: #ffffff;
    
}
.punti-chiave { /* importante! */
    text-align: left;
    font-family: 'DotGothic16', sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-wrap: wrap;
    position: relative;
    padding: 5px 25px;
    margin-bottom: 70px;
    top: 80px;
    left: 25px;
    color: #ffffff;
}




/*-- MASTER FULL-STACK--*/
.container-dev{
    width: 1000px;
    height: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 10px 10px 0 #293333;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    background-image: url(utilities/Coding.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 25px 25px;
}

    
    
    

#MasterFullStack {
    position: relative;
    left: 0;
    top:0;
    color: #50c878;
    background-color: #531690;
    margin: 0 auto;
    border: 10px #050402 double;
    padding: 30px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;

}


.container-dev p{
    text-align: left;
    font-family: 'DotGothic16', sans-serif;
    font-size: 17px;
    font-weight: 800;
    text-wrap: wrap;
    position: relative;
    margin-top: 5px;
    padding: 5px 25px;
    top: 100px;
    color: #ffffff;
    
}
.punti-chiave2 { /* importante! */
    text-align: left;
    font-family: 'DotGothic16', sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-wrap: wrap;
    position: relative;
    padding: 5px 25px;
    margin-bottom: 70px;
    top: 110px;
    left: 25px;
    color: #ffffff;
}

/*-- MASTER DIGITAL MARKETING--*/

.container-digital{
    background-image: url(utilities/digitale.webp);
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 25px 25px;
    width: 1000px;
    height: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 0 #2f012f;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    
}



#MasterDigitalMarketing {
    position: relative;
    left: 0;
    top:0;
    color: #2f2fd2;
    background-color: #caac2a;
    margin: 0 auto;
    border: 10px #800080 double;
    padding: 30px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}


.container-digital p{
    text-align: left;
    font-family: 'DotGothic16', sans-serif;
    font-size: 17px;
    font-weight: 800;
    text-wrap: wrap;
    position: relative;
    margin-top: 5px;
    padding: 5px 25px;
    top: 100px;
    color: #ffffff;
}
.punti-chiave3 { /* importante! */
    text-align: left;
    font-family: 'DotGothic16', sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-wrap: wrap;
    position: relative;
    padding: 5px 25px;
    margin-bottom: 25px;
    top: 110px;
    left: 25px;
    color: #ffffff
}



    

    
    



    


/*-- LOGO IN FONDO--*/ 
.image-container2{
    bottom: 20px; 
    left: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 7px 22px;
    position: relative; 
    width: 220px;
    
    
    
   
   
    
}



/* 3. Selettori più specifici */
/* 2. CSS in linea */
/* 1. !important */